/* Mobile */

/* @media screen and (max-width: 200px) {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    h3,
    footer .wrap h3 {
        font-size: 1rem;
    }
    p,
    .work-p-wrap p,
    input,
    .intro .wrapper-1 input,
    .work .work-p-wrap p {
        font-size: .8rem;
    }
    .side-nav {
        font-size: 1rem;
    }
} */