@font-face {
  font-family: logo;
  src: url('../src/fonts/DESIGNER.otf');
}
@font-face {
  font-family: sidebar;
  src: url('../src/fonts/big_noodle_titling_oblique.ttf');
}
@font-face {
  font-family: body;
  src: url('../src/fonts/PlusJakartaSans-VariableFont_wght.ttf');
}
:root {
  /* font-size: 62.25%; */
  --clr-60: #0E0C22;
  --clr-50: #322e618c;
  --clr-40: #a1a1df;
  --clr-10: rgba(179, 233, 72, 0.815);
  --clr-ff: #fff;
  --unit: 1.618;
}
html {
  scroll-behavior: smooth;
  font-size: 62.25%;
}
body {
    position: relative;
    font-size: calc(1rem * 1.618);
    font-family: body;
    color: var(--clr-40);
}

/* Global Settings */

h1 {
 font-size: calc(1.2rem * (1.618*2));
 font-weight: 500;
 line-height: 1.2;
}
h2 {
  font-weight: 600;
  font-size: calc(1.4rem * 1.618);
  text-transform: capitalize;
}
h3 {
  font-size: calc(1.2rem * 1.618);
  font-weight: 500;
  text-transform: capitalize;
}
p {
  font-size: calc(1.4rem);
  font-weight: 300;
  opacity: unset;
  filter: unset;
}
a {
  text-decoration: none;
}
input {
  transition: filter .4s;
}
input:hover {
  filter: contrast(1.6);
}

.i {
  height: 32px;
  transition: opacity .6s ease-out;
}

 .desc {
  text-align: center;
  max-width: 250px;
  font-weight: 500;
  }
/* End */


.work-p h2 {
  text-transform: none;
}

.s1-div-main-work h3 {
  font-weight: 300;
  padding-left: 3px;
}
.s1-div-main-work h2 {
  width: 100%;
  text-align: center;
  padding-top: 25px;
}
.intro {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  z-index: 3;
}
.intro h1 {
  max-width: 610px;
  text-align: start;
  text-transform: uppercase;
  opacity: .9;
}
.intro .wrapper-1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  gap: 5px;
  
  h2 {
  padding-bottom: 60px;
}
  
  p {
  margin-top: -6px;
  max-width: 200px;
}
}
.intro .wrapper-1 input {
  text-transform: uppercase;
  font-size: calc(1rem * 1.618);
  font-family: body;
  padding: 7px;
  border-radius: 3px;
  box-shadow: #000 0px 0px 6px 1px;
  transition: .1s ease-out;
}
.intro input {
  font-weight: 900;
  background-color: var(--clr-40);
}

.work-p, .about-p, footer {
  width: 100%;
  padding: clamp(10px, 5vw, 20px);
  text-align: start;
}

.work-p {
  height: fit-content;
}
.work-p-wrap p {
  padding: 2px;
  text-align: start;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 100;
}




.side-nav {
  display: flex;
  top: 50vh;
  right: 10px;
  position: fixed;
  z-index: 25;
  font-size: 1.6rem;
  font-weight: 100;
  font-family: sidebar;
  flex-direction: column;
  gap: 6px;
  opacity: .3;
  filter: contrast(1.6);
  transform: translateX(150%);
  transition: transform .4s ease-out;
}
.nav-nav :last-child {
  position: relative;
}
.nav-nav :last-child li {
  display: flex;
  align-items: center;
}
.nav-nav .menu {
  transition: transform .5s ease-out;
}
.menu + .wrap {
  height: 100%;
  width: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: absolute;
  right: -32%;
}
.menu + .wrap .line {
  height: 4px;
  width: 200px;
  background-color: #a1a1df56;
  transform: translateX(100%);
  transition: transform .9s ease-out;
}
.side-nav ul li {
  position: relative;
  z-index: 3;
}
.side-nav ul {
  position: relative;
}
.side-nav ul .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120%;
  position: absolute;
  height: 20px;
  border: 3px solid var(--clr-40);
  border-radius: 2px;
  opacity: 0;
  transition: opacity, top .4s ease-out;
  z-index: 2;
  left: -5px;
}
@keyframes blink {
  from {opacity: .3;}
  to {opacity: initial;}
}

/* First Section | Work Section  */

.s1-sec-work {
  padding: 20px 20px;
  position: relative;
  z-index: 1;
  border-top: var(--clr-50) 1px solid;
  background-image: linear-gradient(var(--clr-60), #080714);
}

.s1-div-main-work {
  display: flex;
  flex-direction: column;
  padding: 0 5vw;
  gap: unset;
  position: relative;
  z-index: 1;
  align-items: center;
  padding-bottom: 40px;

  .s1-div-worklist {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 40px;
    gap: 4px;
  }
}

.s1-div-worklist .s1-div-work-p {
  display: flex;
  padding: 2px;
  flex-direction: column;
  background: rgba(25, 21, 64, .8);
  background-size: cover;
  border-radius: 4px;
  min-height: 60px;
  box-shadow: #00000062 0px 0px 3px 1px;
  overflow: hidden;
  transition: background .8s;

  h3 {
    color: var(--clr-40);
  }
  p {
    color: var(--cl-ff);
    padding-inline: 4px;
    font-size: 1.2rem;
    font-weight: 400;
    filter: contrast(.5);
    margin: 0 15px 15px 15px;
  }
  .s1-div-iconandpwrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    margin: 15px 15px 0 15px;
  }
  .s1-div-iconandpwrap img {
    transform: rotateZ(-45deg);
    opacity: .7;
  }
  .s1-div-iconandpwrap img:hover {
    filter: brightness(1.5);
  }
  .s1-div-iconandpwrap p {
    margin-top: unset;
    font-size: 1rem;
    font-weight: 900;
    filter: none;
    color: var(--clr-40);
  }

  .s1-p-hidden {
    position: fixed;
    transition: position .6s ease-out;
  }
}

.s1-div-worklist .s1-div-work-p-inactive {
    background-color: var(--clr-60);
}

.s1-div-imgwrap-hidden {
  display: none;
}

.s1-img-workimg::-webkit-scrollbar {
  width: 3px;
}
.s1-div-imgwrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
  margin-top: 10px;
  /* change this for different sizes */
  position: relative;
  align-items: center;
  justify-content: 100%;
  
  .s1-ul-pcormob {
    padding: 5px;
    position: absolute;
    top: -20px;
    left: 15px;
    border-radius: 3px;
    /*background-color: rgba(14, 12, 34, 0.6);*/
    z-index: 5;
    color: #fff;
    transition: opacity .3s;
    z-index: 2;
    display: flex;
    align-items: center;
    opacity: .6;
  }

  .s1-ul-pcormob .wrap {
    position: absolute;
    border-bottom: 2px solid var(--clr-40);
    opacity: .7;
    width: 40px;
    min-height: 20px;
    margin-top: 2px;
    border-radius: 1px;
    top: 1px;
    transition: transform .6s ease;
    z-index: -1;
  }

  ul {
    position: relative;
    padding: 4px;
    color: var(--clr-40);
    display: flex;
    max-width: fit-content;
    gap: 10px;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    z-index: 9999;
  }
  
  ul li {
    filter: contrast(2);
    transition: color .4s;
  }
  ul .a-repo {
    font-weight: 400;
    color: var(--clr-60);
    background-color: var(--clr-ff);
    padding: 3px;
    border-radius: 3px;
  }
  
  
  .s1-img-workimg {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    max-height: 40vh;
    overflow-y: scroll;
    border-radius: 4px;
  }

  img {
    width: 100%;
    height: max-content;
  }
}

/* 3rd Section | CV Section  */

.s3-sec-cv {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-60);
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 50px 5vw;
  align-items: center;
  min-height: 80vh;
  
  h2 {
    text-align: center;
    width: 100%;
    padding-bottom: 8px;
  }
  
  p {
    text-align: center;
    padding-bottom: 40px;
    max-width: 100%;
  }
  
  .s3-div-cv {
    width: 80%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
  }
  .s3-div-cv img {
    pointer-events: none;
    width: 100%;
    min-height: 100%;
  }
  
  .s3-div-cv p {
    padding: 1px;
    opacity: .8;
    font-size: 1.2rem;
    font-weight: 500;
    width: fit-content;
    text-align: center;
    color: var(--clr-40);
  }
}

/* End */


.loader {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  transition: all 1s ease;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);

}
.loader p {
  color: #42445A;
  transition: 1s ease;
}
header {
    background-color: var(--clr-60);
    padding-inline: clamp(10px, 10vw, 100px);
}

banner {
  position: relative;
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 5vw;
  min-height: 100vh;
  z-index: 1;
}

.about-p,
footer {
  width: 100%;
  padding: clamp(10px, 5vw, 20px);
  text-align: start;
}

.design {
  max-height: fit-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  animation: scroll 60s linear infinite;
  opacity: .154;
}
.scroll-container {
  z-index: 2;
  position: fixed;
  overflow: hidden;
  min-height: 500px;
  mask-image: linear-gradient(to bottom, transparent, var(--clr-60) 10%, var(--clr-60) 90%, transparent);
  padding-inline: clamp(10px, 1vw, 100px);
}
@keyframes scroll {
  to{
      transform: translateY(-50%);
  }
}
nav ul li {
  padding: 3px;
}
li input {
  text-transform: uppercase;
  font-size: calc(.8rem * 1.618);
  background-color: #921b1b;
  padding: 8px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.253) 0px 0px 6px 1px;
}

.wrapper-2 {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
}


.wrapper-2 .i {
  height: 25px;
  position: absolute;
  left: 2px;
  top: 2px;
  z-index: 2;
  background-color: var(--clr-40);
  border-radius: 6px;
  animation: bounce 3s ease-out infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-6px);
      transform: rotateZ(90deg);
  }
  60% {
      transform: translateY(-3px);
  }
}



::-webkit-scrollbar {
  width: 10px;
  background-color: #a1a1df;
}
::-webkit-scrollbar-thumb {
  background-color: var(--clr-60);
  border: .2px solid var(--clr-40);
  border-radius: 4px;
}


.hovered-work {
  display: flex;
  position: absolute;
  background-color: var(--clr-60);
  min-height: 400px;
  max-width: 80%;
}
.mobile {
  display: none;
}
/* Photo by Roberto Nickson: https://www.pexels.com/photo/person-swimming-in-pool-2417862/ */

nav {
  font-size: calc(1.5rem * 1.618);
  position: fixed;
  padding-inline: 13px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 30;
  background-color: var(--clr-60);
}
nav div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav div :nth-child(1) li {
  color: var(--clr-40);
  font-weight: 100;
  font-family: logo;
}
nav div ul {
  display: flex;
  padding: 5px;
  font-weight: 600;
  transition: transform 2s ease-in;
}
.nav-nav {
  transition: opacity 1s ease-in-out;
}
.pc {
  width: 100%;
}
.mobile {
  width: 100%;
}

/* ABOUT ME SECTION*/
.about-me {
  padding: 50px 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(var(--clr-60), #080714);
}
.about-me .wrap {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin-top: 20px;
  gap: 5px;
}
.about-p {
  gap: 40px;
}

.about-p p {
  max-width: 400px;
  filter: brightness(0.85);
  padding: 4px 9px;
  font-size: 1.3rem;
}
.about-p .b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px 8px;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: start;
}
.about-p .b span,
.s1-div-iconandpwrap p {
  color: var(--clr-10);
  filter: brightness(.95);
  padding: 2px;
  font-size: 1rem;
  font-weight: 100;
}
.about-p h3 {
  max-width: 450px;
  padding-block: 6px;
}
.about-p :nth-child(3) {
  padding-bottom: 3px;
}
.about-me h2 {
  opacity: .7;
}
.about-p div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.about-p div img {
  height: 20px;
}

footer {
  background-color: #000000;
  display: flex;
  position: relative;
  z-index: 3;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  min-height: 150px;
  padding: 20px 10px;
  flex-direction: column;
}
footer .i {
  height: 20px;
}
footer .wrap-i {
  display: flex;
  padding-block: 2px;
  gap: 1px;
}
footer .wrap-m-row {
  display: flex;
  align-items: first baseline;
  width: 100%;
  flex: 3;
  justify-content: center;
}
footer .wrap-m-row :nth-child(2){
  flex-direction: row;
}
footer .wrap-m-row .wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
footer .wrap-m-row .wrap h3 {
  font-weight: 300;
  font-size: 1.4rem;
}
footer .wrap-m-row .wrap p {
  opacity: .6;
}
.footer-signature {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-block: 25px;
}
.footer-signature p {
  text-transform: uppercase;
  font-size: 1rem;
  filter: saturate(1);
  font-weight: 300;
}
.footer-signature p span {
  font-weight: 900;
  filter: saturate(2);
}
.footer-signature :nth-child(2) {
  text-transform: lowercase;
  font-size: calc(1rem);
  filter: saturate(1);
}

.mobi-pc-switch {
  display: none;
  position: relative;
  padding: 6px;
  gap: 6px;
  height: fit-content;
  transform: scale(.7) translate(-20%, 10px);
}
.mobi-pc-switch p {
  position: relative;
  padding: 2px;
  font-size: 1.5rem;
  z-index: 5;
  filter: none;
  color: var(--clr-40);
}
.mobi-pc-switch :last-child {
  height: fit-content;
  position: relative;
  display: flex;
  left: 28px;
}
.mobi-pc-switch .wrap p {
  position: relative;
  top: -3px;
}
