@font-face {
  font-family: logo;
  src: url('../../asset/fonts/Moderniz.otf');
}
@font-face {
  font-family: heading;
  src: url('../../asset/fonts/built titling rg.ttf');
}
@font-face {
  font-family: sidebar;
  src: url('../../asset/fonts/Lexend-Regular.woff2');
}
@font-face {
  font-family: body;
  src: url('../../asset/fonts/PlusJakartaSans-VariableFont_wght.ttf');
}
@font-face {
  font-family: accent;
  src: url('../../asset/fonts/KGNeatlyPrinted.ttf');
}
:root {
  /* font-size: 62.25%; */
  --clr-60: 0, 0%;
  --clr-50: #322e618c;
  --clr-40: 194, 49%;
  --clr-10: hsl(19, 66%, 67%);
  --clr-10-2: #ffebb3;
  --clr-ff: #fff;
  --clr-text-muted: hsl(180, 100%, 27%);
  --unit: 1.618;
}
html {
  scroll-behavior: smooth;
  font-size: 62.25%;
}
body {
    position: relative;
    font-size: calc(1rem * 1.618);
    font-family: body;
    background-color: hsl(hsl(var(--clr-60), 100%), 100%);
    color: hsl(var(--clr-40), 20%);
}

/* Global Settings */

h1 {
  font-family: logo;
 font-size: clamp(24px, 5vw, 40px);
 font-weight: 500;
 line-height: 1.2;
}
h2 {
  font-weight: 600;
  font-family: logo;
  font-size: clamp(15px, 2.5vw, 20px);
  text-transform: capitalize;
}
h3 {
  font-size: clamp(12px, 2.5vw, 15px);
  font-weight: 500;
  text-transform: capitalize;
}
p {
  font-size: clamp(12px, 2vw, 13px);
  font-weight: 500;
  opacity: .8;
  filter: unset;
}
a {
  text-decoration: none;
}
input, .input-button input {
  text-transform: capitalize;
  font-size: calc(1rem * 1.618);
  font-family: body;
  transition: filter .4s;
}
input:hover, .input-button:hover {
  filter: contrast(1.6);
}

.i {
  height: 32px;
  transition: opacity .6s ease-out;
}

 .desc {
    text-align: center;
    max-width: 250px;
    font-weight: 500;
    max-width: 400px;
    padding: 4px 9px;
    font-size: 1.3rem;
  }
  .hero-shape {
    position: absolute;
    height: 50vh;
    aspect-ratio: 1;
    border-radius: 40vh;
    filter: blur(10vw) opacity(0.3);
    pointer-events: none;
  }

  @media  screen and (max-width: 600px) {
  .hero-shape {
    display: none !important;
  }
}
/* End */