

.work-p h2 {
  text-transform: none;
}

.s1-span-workIndex {
  font-size: 2rem;
  font-weight: 400;
  margin-right: 7px;
  padding: 7px;
  border: 2px solid;
  border-radius: 4px
}


.work-p, .about-p, footer {
  width: 100%;
  padding: clamp(10px, 5vw, 20px);
  text-align: start;
}

.work-p {
  height: fit-content;
}

.side-nav {
  display: flex;
  right: 0;
  height: 100%;
  position: fixed;
  z-index: 30;
  transform: translateX(0);
  width: 100vw;
  backdrop-filter: blur(3px);
  transition: blur 1s cubic-bezier(0.13, 0.23, 0.3, 0.98);
}

.side-nav-open {
  transform: translateX(100vw);
  backdrop-filter: blur(0);
  transition: transform 0s .6s cubic-bezier(0.13, 0.23, 0.3, 0.98), backdrop-filter 0s .6s cubic-bezier(0.13, 0.23, 0.3, 0.98)  !important;
}


.side-nav-inner {
  display: flex;
  padding: 20px;
  background-color: var(--clr-40);
  color: var(--clr-60);
  right: 0;
  box-shadow: rgb(0 0 0 / 25%) 0px 0 30px 8px;
  height: 100%;
  position: fixed;
  z-index: 30;
  font-size: 1.5rem;
  font-weight: 100;
  flex-direction: column;
  gap: 6px;
  transform: translateX(150%);
  transition: transform 1s cubic-bezier(0.13, 0.23, 0.3, 0.98);
  align-items: center;
  width: 150px;
}
.side-nav-inner .profile {
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #ffffff;
  margin-top: 10px;
}
.side-nav-inner .menu {
  width: 100%;
}
.nav-nav :last-child {
  position: relative;
}
.nav-nav :last-child li {
  display: flex;
  align-items: center;
}
.nav-nav .menu {
  transition: transform .5s ease-out;
}
.menu + .wrap {
  height: 100%;
  width: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: absolute;
  right: -32%;
}
.menu + .wrap .line {
  height: 4px;
  width: 200px;
  background-color: #a1a1df56;
  transform: translateX(100%);
  transition: transform .9s ease-out;
}
.side-nav-inner ul li {
  text-transform: capitalize;
  position: relative;
  z-index: 3;
}
.side-nav-inner ul {
  position: relative;
}
.side-nav-inner ul .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120%;
  position: absolute;
  height: 20px;
  border: 3px solid var(--clr-40);
  border-radius: 2px;
  opacity: 0;
  transition: opacity, top .4s ease-out;
  z-index: 2;
  left: -5px;
}
@keyframes blink {
  from {opacity: .3;}
  to {opacity: initial;}
}

/* First Section | Work Section  */

.s1-sec-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
  background-color: var(--clr-60);
  color: var(--clr-40);
  
  .desc-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
  .desc-main h2 {
  opacity: .7;
  }
  
  .desc {
    
  }
}

.s1-div-main-work {
  display: flex;
  flex-direction: column;
  padding: 0 6vw;
  gap: unset;
  position: relative;
  z-index: 1;
  align-items: center;
  padding-bottom: 40px;

  .s1-div-worklist {
    display: flex;
    flex-flow: row wrap;
    margin-top: 80px;
    gap: 10px;
    justify-content: space-evenly;
    align-items: start;
  }
}

.s1-div-worklist .s1-div-work-p {
  display: flex;
  padding: 2px;
  flex-direction: column;
  background-color: var(--clr-60);
  background-size: cover;
  border-radius: 4px;
  min-height: fit-content;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 20px 0px;
  overflow: hidden;
  transition: .8s ease-in;
  max-width: 300px;

  h3 {
    display: contents;
    color: var(--clr-40);
    font-weight: 400;
    text-transform: lowercase;
  }
  p {
    color: var(--clr-40);
    padding-inline: 4px;
    font-size: 1.2rem;
    font-weight: 400;
    padding-inline: 15px;
    margin-block: 10px 30px
  }
  .s1-div-iconandpwrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    margin: 15px 15px 0 15px;
  }
  .s1-div-iconandpwrap img {
    transform: rotateZ(-45deg);
  }
  .s1-div-iconandpwrap img:hover {
    filter: brightness(1.5);
  }
  .s1-div-iconandpwrap p {
    margin-top: unset;
    font-size: 1rem;
    font-weight: 900;
    filter: none;
    color: var(--clr-40);
  }

  .s1-p-hidden {
    position: fixed;
    opacity: 0;
    display: none;
    transition: position .6s ease-out;
  }
}

.s1-div-worklist .s1-div-work-p-inactive {
    box-shadow: rgb(0 0 0 / 20%) 0 0 10px 0px;
    transition: box-shadow 1s ease-in !important;
}

.s1-div-imgwrap-hidden {
  height: 0 !important;
  transition: 1s ease-in;

  .s1-ul-pcormob {
    opacity: 0 !important;
    pointer-events: none;
  }
  .s1-work-workimg {
    opacity: 0 !important;
  }
}


.s1-img-workimg::-webkit-scrollbar {
  width: 3px;
}
.s1-div-imgwrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  gap: 4px;
  margin-top: 10px;
  /* change this for different sizes */
  position: relative;
  align-items: center;
  transition: height 1s cubic-bezier(0.13, 0.23, 0.3, 0.98);
  
  .s1-ul-pcormob {
    padding: 5px;
    position: absolute;
    top: -20px;
    left: 15px;
    border-radius: 3px;
    /*background-color: rgba(14, 12, 34, 0.6);*/
    z-index: 5;
    transition: opacity .4s ease-in;
    z-index: 2;
    display: flex;
    align-items: center;
    opacity: .7;

    .li-active {
      
    }
    .li-inactive {

    }
  }

  .s1-ul-pcormob .wrap {
    position: absolute;
    border-bottom: 2px solid var(--clr-40);
    opacity: .7;
    width: 40px;
    min-height: 20px;
    margin-top: 2px;
    border-radius: 1px;
    top: 1px;
    transition: transform .6s ease;
    z-index: -1;
  }

  ul {
    position: relative;
    padding: 4px;
    color: var(--clr-40);
    display: flex;
    max-width: fit-content;
    gap: 10px;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    z-index: 9999;
    transition: opacity .4 ease-in;
  }
  
  ul .a-repo {
    background-color: var(--clr-ff);
    padding: 4px;
    padding-inline: 7px;
    border-radius: 2px;
    color: #0000EE;
  }
  
  
  .s1-img-workimg {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    max-height: 40vh;
    overflow-y: auto;
    border-radius: 4px;
    transition: height .6s;
    transition: width .8s;
  }

  img {
    width: 100%;
    transition: opacity .6s ease-in;
  }

  .img-inactive {
    opacity: 0;
    height: 0;
  }
  .img-active {
    opacity: 1;
    height: initial;
  }

}

/* 3rd Section | CV Section  */

.s3-sec-cv {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-60);
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 50px 5vw;
  padding-bottom: 110px;
  align-items: center;
  min-height: 80vh;
  
  .s3-div-cvBtns {
    display: flex;
    gap: 10px;
    width: clamp(200px, 80vw, 500px);
  }
  
  .s3-div-cvBtns p {
    border-radius: 2px;
    height: fit-content;
    padding: 3px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    color: var(--clr-40);
  }
  
  h2 {
    text-align: center;
    width: 100%;
    padding-bottom: 8px;
  }
  
  .desc {
    text-align: center;
    padding-bottom: 40px;
    max-width: 100%;
  }
  
  .s3-div-cv {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin-top: 70px;
    justify-content: center;
  }
  .s3-div-cv img {
    pointer-events: none;
    width: clamp(200px, 80vw, 500px);
  }
}

/* End */


.loader {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  transition: all 1s ease;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);

}
.loader p {
  color: #42445A;
  transition: 1s ease;
}

.about-p,
footer {
  width: 100%;
  padding: clamp(10px, 5vw, 20px);
  text-align: start;
}

nav ul li {
  padding: 3px;
}
li input {
  text-transform: uppercase;
  font-size: calc(.8rem * 1.618);
  background-color: #921b1b;
  padding: 8px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.253) 0px 0px 6px 1px;
}

.wrapper-2 {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
}


.wrapper-2 .i {
  height: 25px;
  position: absolute;
  left: 2px;
  top: 2px;
  z-index: 2;
  background-color: var(--clr-40);
  border-radius: 6px;
  animation: bounce 3s ease-out infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-6px);
      transform: rotateZ(90deg);
  }
  60% {
      transform: translateY(-3px);
  }
}



::-webkit-scrollbar {
  width: 10px;
  background-color: var(--clr-60);
}
::-webkit-scrollbar-thumb {
  background-color: var(--clr-40);
  border: .2px solid var(--clr-60);
  border-radius: 4px;
}


.hovered-work {
  display: flex;
  position: absolute;
  background-color: var(--clr-60);
  min-height: 400px;
  max-width: 80%;
}
.mobile {
  height: 0;
  transition: 1s ease-in;
}
/* Photo by Roberto Nickson: https://www.pexels.com/photo/person-swimming-in-pool-2417862/ */

nav {
  font-size: calc(1.5rem * 1.618);
  position: fixed;
  padding-inline: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 25;
  background-color: var(--clr-60);
}
nav div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: var(--clr-40);
  font-weight: 100;
  font-family: logo;
  font-size: calc(1.5rem * 1.618);
}
nav div ul {
  display: flex;
  padding: 5px;
  font-weight: 600;
  transition: transform 2s ease-in;
}
.nav-nav {
  transition: opacity 1s ease-in-out;
}
.pc {
  width: 100%;
}
.mobile {
  width: 100%;
}

/* ABOUT ME SECTION*/
.about-me {
  padding-top: 50px;
  padding-inline: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-60);
  
  .desc {
  max-width: 250px;
}
  
}
.about-me .wrap {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-top: 50px;
  gap: 5px;
}
.about-p {
  gap: 40px;
}

.about-p p,
.s1-sec-work .desc,
.s3-sec-cv .desc {
  max-width: 400px;
  filter: brightness(0.85);
  padding: 4px 9px;
  font-size: 1.3rem;
}
.about-p .b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px 8px;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: start;
}
.about-p .b span,
.s1-div-iconandpwrap p {
  color: var(--clr-10);
  filter: brightness(.95);
  padding: 2px;
  font-size: 1rem;
  font-weight: 100;
}
.about-p h3 {
  max-width: 450px;
  padding-block: 6px;
}
.about-p :nth-child(3) {
  padding-bottom: 3px;
}
.about-me h2 {
  opacity: .7;
}
.about-p div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.about-p div img {
  height: 20px;
}



.mobi-pc-switch {
  display: none;
  position: relative;
  padding: 6px;
  gap: 6px;
  height: fit-content;
  transform: scale(.7) translate(-20%, 10px);
}
.mobi-pc-switch p {
  position: relative;
  padding: 2px;
  font-size: 1.5rem;
  z-index: 5;
  filter: none;
  color: var(--clr-40);
}
.mobi-pc-switch :last-child {
  height: fit-content;
  position: relative;
  display: flex;
  left: 28px;
}
.mobi-pc-switch .wrap p {
  position: relative;
  top: -3px;
}
