.logo {
  display: flex;
  width: fit-content;
  flex-direction: column;
  color: hsl(var(--clr-40), 11%);
  font-weight: 100;
  font-family: logo;
  margin-left: 6px;
  padding-block: 8px;
  align-items: start;
  line-height: 1;
  opacity: 1;
  transition: opacity .4s ease-in-out;
}

.logo.hide {
  opacity: 0;
}

.logo :first-child {
  font-size: clamp(12px, 5vw, 14.8px);
  color: var(--clr-10);
}

.logo :last-child {
  font-size: clamp(8px, 1vw, 10px);
}

.about-p {
  width: 100%;
  padding: clamp(10px, 5vw, 20px);
  text-align: start;
}


.side-nav {
  display: flex;
  right: 0;
  height: 100%;
  position: fixed;
  z-index: 30;
  transform: translateX(0);
  width: 100vw;
  backdrop-filter: blur(5px);
  transition: blur 1s cubic-bezier(0.13, 0.23, 0.3, 0.98);
}

.side-nav-open {
  transform: translateX(100vw);
  backdrop-filter: blur(0);
  transition: transform 0s .6s cubic-bezier(0.13, 0.23, 0.3, 0.98), backdrop-filter 0s .6s cubic-bezier(0.13, 0.23, 0.3, 0.98) !important;
}


.side-nav-inner {
  display: flex;
  padding: 20px;
  background-color: hsl(var(--clr-40), 11%);
  color: hsl(var(--clr-60), 100%);
  ;
  right: 0;
  box-shadow: rgb(0 0 0 / 25%) 0px 0 30px 8px;
  height: 100%;
  position: fixed;
  z-index: 30;
  font-size: clamp(1rem, 2.25vw, 1.5rem);
  font-weight: 100;
  flex-direction: column;
  gap: 6px;
  transform: translateX(150%);
  transition: transform 1s cubic-bezier(0.13, 0.23, 0.3, 0.98);
  align-items: center;
  width: clamp(10rem, 22vw, 15rem);
}

.side-nav-inner .profile-main-focus {
  position: relative;

  .profile-ul {
    position: relative;
    opacity: 1 !important;
    transform: translateX(-140%) !important;
    transition: transform .8s cubic-bezier(0.13, 0.23, 0.3, 0.98), opacity .8s cubic-bezier(0.13, 0.23, 0.3, 0.98) !important;
  }

  .profile {
    border-radius: 0;
    margin-top: 10px;
    width: 150%;
    right: 50%;
  }

  .expand-collaps-icon {
    right: 4px;
    bottom: 4px;
    max-width: 100% !important;
  }
}

.side-nav-inner .profile-main {
  position: relative;

  .profile-ul {
    display: flex;
    flex-direction: column;
    gap: 2px;
    opacity: 0;
    width: clamp(102px, 22vw, 150px);
    font-size: clamp(.9rem, 1.9vw, 1.2rem);
    margin-top: 10px;
    transform: translateX(0);
    position: absolute;
    filter: drop-shadow(0px 0px 2px hsl(var(--clr-60), 100%));
    color: hsl(var(--clr-40), 11%);
    transition: opacity .8s, transform 0s 1s;
  }

  .profile-ul .itsdynamic-note {
    height: auto;
    width: clamp(50px, 8vw, 6rem);
    position: absolute;
    left: -45%;
    top: -60%;
  }

  .profile-ul li {
    display: flex;
    font-weight: 900;
    align-items: center;
    gap: 3px;
  }

  .profile-ul li span {
    font-weight: 300;
  }

  .expand-collaps-icon {
    position: absolute;
    right: 3px;
    bottom: 35%;
    max-width: 80% !important;
    color: hsl(var(--clr-40), 11%);
    border-radius: 6px;
  }
}

.side-nav-inner .profile {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #ffffff;
  margin-top: 10px;
  width: 100%;
  right: 0;
  transition: .8s cubic-bezier(0.13, 0.23, 0.3, 0.98);
}

.side-nav-inner .nav-ul {
  margin-top: 10px;
}

.side-nav-inner .menu {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 600;
  font-family: logo;
  width: 100%;
  transition: opacity 1s ease-in-out;
  max-width: 1280px;
  justify-self: center;
}

.ul-text-icons {
  display: flex;
  background-color: hsl(var(--clr-60), 100%);
  padding-inline: 20px;
  border-radius: 6px;
  width: fit-content;
  gap: 40px;
  max-width: 542px;
  transition: max-width .8s var(--anim-cubic);
}

.ul-text-icons.minimized {
  max-width: 18%;
  transition: max-width .8s var(--anim-cubic);
}

.ul-text {
  display: none;
  gap: 30px;
  font-size: 1rem;
  padding-left: 24px;
  padding-top: 4px;
  width: 303px;
  align-items: center;
  opacity: .8;
  transition: opacity .4s .6s var(--anim-cubic), width .6s var(--anim-cubic);

  li {
    text-wrap: nowrap;
    cursor: pointer;
  }
}

.ul-text-icons.minimized .ul-text {
  opacity: 0;
  width: 0;
  pointer-events: none;
  transition: opacity .1s var(--anim-cubic), width .6s var(--anim-cubic);
}

.ul-text-icons .ul-icons {
  display: flex;
  align-items: center;
}

.ul-text-icons .ul-icons svg {
  width: clamp(12px, 8vw, 40px);
  height: 34px;
  cursor: pointer;
  transition: transform .5s ease-out;
  color: var(--clr-10);
}

@media screen and (min-width: 800px ) {
  .ul-text-icons .ul-text {
    display: flex;
  }
}

@media screen and (min-width: 430px ) {
  .ul-text-icons {
    box-shadow: rgb(0 0 0 / 20%) 4px 18px 30px 0px;
  }
}

.side-nav-inner .nav-ul li {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  position: relative;
  z-index: 3;
  gap: 8px;
}

.side-nav-inner .nav-ul li span {
  display: block;
  opacity: 0;
  height: 2px;
  width: 8px;
  background-color: var(--clr-ff);
  transition: opacity .8s cubic-bezier(0.13, 0.23, 0.3, 0.98);
}

.side-nav-inner .nav-ul li:hover {
  span {
    opacity: 1;
  }
}

.side-nav-inner .nav-ul {
  position: relative;
}

.side-nav-inner .nav-ul .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120%;
  position: absolute;
  height: 20px;
  border: 3px solid hsl(var(--clr-40), 11%);
  border-radius: 2px;
  opacity: 0;
  transition: opacity, top .4s ease-out;
  z-index: 2;
  left: -5px;
}

.side-nav-inner .menu {
  transform: rotate(0deg) scale(1);
  filter: contrast(1);
  transition: transform .6s ease-in-out, filter .4s ease-in-out;
}

.side-nav-inner .menu:hover {
  transform: rotate(90deg) scale(1.2);
  filter: contrast(2);
  transition: transform .6s ease-in-out, filter .6s ease-in-out;
}

@keyframes blink {
  from {
    opacity: .3;
  }

  to {
    opacity: initial;
  }
}