
/* ABOUT ME SECTION*/
.s2-sec-about {
  margin-top: clamp(50px, 10vw, 75px);
  padding-inline: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(var(--clr-60), 100%);

  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
  }
  
}

.about-me {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  overflow: hidden;
  gap: 15px;
}

.about-me .top {
  padding: 25px;
  background-color: hsl(var(--clr-40), 20%);
  color: hsl(var(--clr-60), 100%);
  min-height: 300px;
}

.about-me .summary {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.bottom {
  display: flex;
  color: hsl(var(--clr-40), 20%);
  gap: 15px;
  min-height: 300px;
}

.bottom .experience {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: hsl(var(--clr-60), 90%);
  padding: 25px;
}

.bottom .education {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: hsl(var(--clr-60), 90%);
  padding: 25px;
}
