footer {
  display: flex;
  position: relative;
  z-index: 3;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  min-height: 200px;
  margin-top: clamp(50px, 10vw, 75px);
  flex-direction: column;
  padding-inline: clamp(10px, 5vw, 20px);
  text-align: start;


  .i {
    height: 20px;
  }
  .wrap-i {
    display: flex;
    padding-block: 2px;
    gap: 10px;
  }
  .wrap-m-row {
    padding-left: 4vw;
    display: flex;
    width: 100%;
    flex: 3;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .wrap-m-row .quicklinks {
    
  }
  .wrap-m-row :nth-child(2){
    flex-direction: row;
  }
  .wrap-m-row .wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .wrap-m-row .wrap-i,
  .quicklinks a {
    margin-top: 2px;
    padding-left: 5px
  }
  .wrap-m-row .wrap h3 {
    font-weight: 300;
    font-size: 1.4rem;
  }
  .wrap-m-row .wrap p {
    opacity: .6;
    text-transform: capitalize;
  }
  .footer-signature {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-bottom: 40px;
    padding-left: 20px;
  }
  .footer-signature p {
    text-transform: uppercase;
    font-size: 1rem;
    filter: saturate(1);
    font-weight: 300;
  }
  .footer-signature p span {
    font-weight: 900;
    filter: saturate(2);
  }
  .footer-signature p {
    text-transform: lowercase;
    font-size: calc(1rem);
    filter: saturate(1);
  }
}
