header {
  filter: blur(0);
  background-color: var(--clr-60);
  transition: filter 1s ease-in-out;
    color: var(--clr-40);
    overflow: hidden;
    min-height: 100vh;

  .hero {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
    object-fit: cover;
  }

  .intro {
    display: flex;
    flex-direction: column;
    margin-top: 50vh;
    height: 50vh;
    width: fit-content;
    position: relative;
    z-index: 3;
    padding-inline: clamp(10px, 6vw, 100px);
    backdrop-filter: blur(2px);
    background: linear-gradient(90deg, var(--clr-60) 54%, transparent);

    h1 {
      max-width: 360px;
      text-align: start;
      font-weight: 500;
      text-transform: uppercase;
    }
    
    h2 {
    padding-bottom: 60px;
  }
    
    p {
      max-width: 320px;
      margin-top: 10px;
    }
  }
  .intro .input-button {
    box-shadow: #00000042 0 0 60px 0px;
    text-transform: uppercase;
    font-size: calc(1rem* 1.618);
    font-family: body;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .1s ease-out;
    color: var(--clr-40);
    margin-top: 20px;
    background-color: var(--clr-40);
    width: fit-content;
  }
  .work-p-wrap p {
    padding: 2px;
    padding-left: 15px;
    text-align: start;
    text-transform: uppercase;
    font-size: 2rem;
    background-color: var(--clr-40);
    color: var(--clr-60);
    font-weight: 100;
  }
}

@keyframes scroll {
  to{
      transform: translateY(-50%);
  }
}