header {
  filter: blur(0);
  background-color: hsl(var(--clr-60), 100%);
  transition: filter 1s ease-in-out;
    color: hsl(var(--clr-40), 20%);
    overflow: hidden;
    min-height: 100vh;

  .hero {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
    object-fit: cover;
  }

  .body {
    display: flex;
    flex-direction: column;
    padding-inline: clamp(10px, 6vw, 100px);
    gap: clamp(10px, 6vw, 100px);
  }

  .body .achievements {
    display: grid;
    grid-template-columns: 140px 140px 140px;
    overflow-x: auto;
    column-gap: 30px;
    width: 100%;
    justify-content: end;
    margin-top: 18vh;
    opacity: .7;

    .achievement {
      transform: translateY(-30%);
      opacity: 0;
      transition: transform .3s, opacity .2s;
    }

    .achievement.show {
      transform: translateY(0);
      opacity: 1;
      transition: transform .3s, opacity .2s;
    }

    h2 {
      transform: translateY(-30%);
      opacity: 0;
      transition: transform .3s, opacity .2s;
      font-size: clamp(12px, 1.2vw, 13px);
      font-family: logo;
    }

    .achievement.show h2 {
      transform: translateY(0);
      opacity: 1;
      transition: transform .3s, opacity .2s;
    }
    .achievement.show h2.two {
      transform: translateY(0);
      opacity: 1;
      transition: transform .3s .1s, opacity .2s .1s;
    }
    .achievement.show h2.three {
      transform: translateY(0);
      opacity: 1;
      transition: transform .3s .2s, opacity .2s .2s;
    }
    
    p {
      line-height: 1.3;
      opacity: 0;
      transition: transform .3s, opacity .2s;
    }

    .achievement.show p {
      opacity: .8;
      transition: opacity .2s;
    }

    .achievement.show h2.two+p {
      opacity: .8;
      transition: opacity .2s .1s;
    }

    .achievement.show h2.three+p {
      opacity: .8;
      transition: opacity .2s .2s;
    }

    span {
      color: var(--clr-10);
    }
  }

  .body .achievements ::-webkit-scrollbar {
    display: none;
  }

  .body .intro {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: fit-content;
    position: relative;
    margin-top: 14vh;
    z-index: 3;

    h1 {
      max-width: 800px;
      text-align: start;
      font-weight: 500;
      text-transform: uppercase;
    }
    
    h2 {
    padding-bottom: 60px;
  }
    
    p {
      max-width: 575px;
      margin-top: 10px;
    }
  }
  .body .intro .input-button {
    box-shadow: #00000042 0 0 60px 0px;
    text-transform: uppercase;
    font-size: calc(1rem* 1.618);
    font-family: body;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .1s ease-out;
    color: hsl(var(--clr-40), 20%);
    margin-top: 20px;
    background-color: hsl(var(--clr-40), 20%);
    width: fit-content;
  }
  .work-p-wrap p {
    padding: 2px;
    padding-left: 15px;
    text-align: start;
    text-transform: uppercase;
    font-size: 2rem;
    background-color: hsl(var(--clr-40), 20%);
    color: hsl(var(--clr-60), 100%);
    font-weight: 100;
  }
}

@keyframes scroll {
  to{
      transform: translateY(-50%);
  }
}