/* First Section | Work Section  */

.s1-sec-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 20px;
  padding-top: clamp(50px, 10vw, 75px);
  position: relative;
  z-index: 1;
  background-color: var(--clr-60);
  color: var(--clr-40);
  overflow: hidden;

  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
  }
  
  .desc-main {
  display: flex;
  justify-content: center;
  width: 100%;
  }
}

.s1-div-main-work {
  display: flex;
  flex-direction: column;
  padding: 0 6vw;
  gap: unset;
  position: relative;
  z-index: 1;
  align-items: center;
  justify-content: center;
  padding-bottom: 150px;

  .s1-div-worklist {
    display: flex;
    flex-flow: row wrap;
    margin-top: 80px;
    min-height: 600px;
    gap: clamp(10px, 1.5vw ,40px);
    justify-content: space-evenly;
    align-items: start;
  }
}

.s1-div-worklist .s1-div-work-p {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-60);
  background-size: cover;
  border-radius: 4px;
  min-height: 130px;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px 0px;
  overflow: hidden;
  transition: .8s ease-in;
  width: clamp(240px, 60vw, 300px);
  color: var(--clr-40);

  h3 {
    color: var(--clr-40);
    font-weight: 400;
    text-transform: capitalize;
  }
  .tech-ul {
    display: flex;
    gap: 6px;
    color: var(--clr-40);
    padding-inline: 4px;
    font-size: clamp(.9rem, 1.8vw, 1.2rem);
    font-weight: 400;
    padding-inline: 15px;
    margin-block: 10px 30px;
    opacity: .7;
  }

  .s1-div-iconandpwrap {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: start;
    gap: 6px;
    margin: 15px 15px 0 15px;

    .s1-span-workIndex {
      margin-top: -4px;
      font-size: 2rem;
      font-size: clamp(15px, 4vw, 20px);
      font-weight: 400;
      margin-right: 7px;
      text-align: center;
      border-radius: 4px
    }
  }
  .s1-div-iconandpwrap p {
    margin-top: unset;
    font-size: 1rem;
    font-weight: 900;
    filter: none;
    color: var(--clr-40);
  }

  .s1-p-hidden {
    position: fixed;
    opacity: 0;
    display: none;
    transition: position .6s ease-out;
  }
}


.s1-img-workimg::-webkit-scrollbar {
  display: none;
  width: 12px;
}
.s1-img-workimg::-webkit-scrollbar-thumb {
  border: 3px solid var(--clr-60);
  border-radius: 20px;
}

.s1-div-imgwrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: clamp(250px, 35vh, 400px);
  gap: 4px;
  margin-top: 10px;
  /* change this for different sizes */
  position: relative;
  align-items: center;
  transition: height 1s cubic-bezier(0.13, 0.23, 0.3, 0.98);
  
  .s1-ul-pcormob {
    display: flex;    
    padding: 5px;
    padding-left: 0;
    position: absolute;
    top: -24px;
    right: 0px;
    border-radius: 3px;
    z-index: 2;
    align-items: center;
    opacity: 1;
    transition: opacity .4s ease-in;
  }

  .s1-ul-pcormob .wrap {
    position: absolute;
    border-bottom: 2px solid var(--clr-40);
    opacity: .7;
    width: 40px;
    min-height: 20px;
    margin-top: 2px;
    border-radius: 1px;
    top: 3px;
    transition: transform .6s ease;
    z-index: -1;
  }

  ul {
    position: relative;
    padding: 4px;
    color: var(--clr-40);
    display: flex;
    max-width: fit-content;
    gap: 10px;
    align-items: center;
    font-size: clamp(8px, 1.3vw, 1rem);
    font-weight: 600;
    z-index: 25;
    transition: opacity .4 ease-in;
  }
  
  ul .a-repo {
    background-color: var(--clr-ff);
    padding: 4px;
    padding-inline: 7px;
    border-radius: 2px;
    color: #0000EE;
  }

  ul .a-repo-disabled {
    background-color: var(--clr-ff);
    padding: 4px;
    padding-inline: 7px;
    border-radius: 2px;
    color: #ee000c;
  }
  
  .s1-img-workimg {
    width: 100%;
    justify-content: center;
    overflow-y: auto;
    scroll-behavior: smooth;
    align-items: center;
    margin-top: 10px;
    max-height: clamp(250px, 35vh, 400px);
    transition: width .8s;
  }

  img {
    width: 100%;
    transition: opacity .6s ease-in;
  }

  .img-inactive {
    opacity: 0;
    height: 0;
  }
  .img-active {
    opacity: 1;
    height: initial;
  }

  .scroll-buttons {
    display: flex;
    position: absolute;
    align-items: center;
    bottom: 10%;
    right: 3%;
    height: 35px;
    gap: 6px;
    width: fit-content;
    background-color: var(--clr-60);
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px 0px;
    opacity: .8;
    padding: 5px;
    border-radius: 2px;
    color: var(--clr-40);
  }

  .scroll-buttons svg {
    height: 100%;
    color: inherit;
    transition: transform .3s;
  }

  .scroll-buttons svg:hover {

    transform: scale(1.1);
  }

  .scroll-buttons.top > :first-child {
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s !important;
  }

  .scroll-buttons.bottom > :last-child {
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s !important;
  }

  .scroll-buttons.bottom.top {
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s !important;
  }
}


.hovered-work {
  display: flex;
  position: absolute;
  background-color: var(--clr-60);
  min-height: 400px;
  max-width: 80%;
}
.mobile {
  height: 0;
  transition: 1s ease-in;
}
/* Photo by Roberto Nickson: https://www.pexels.com/photo/person-swimming-in-pool-2417862/ */

nav {
  padding: clamp(10px, 3vw, 40px) clamp(10px, 3vw, 40px);
  width: 100%;
  position: fixed;
  z-index: 25;

}
nav div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav div ul {
  display: flex;
  padding: 5px;
  font-weight: 600;
  transition: transform 2s ease-in;
}
.nav-nav {
  font-size: calc(1.5rem * 1.618);
  padding-inline: 10px;
  padding-block: 10px;
  border-radius: 6px;
  width: 100%;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 20px 0px;
  background-color: var(--clr-60);
  transition: opacity 1s ease-in-out;
}
.pc {
  width: 100%;
}
.mobile {
  width: 100%;
}

.mobi-pc-switch {
  display: none;
  position: relative;
  padding: 6px;
  gap: 6px;
  height: fit-content;
  transform: scale(.7) translate(-20%, 10px);
}
.mobi-pc-switch p {
  position: relative;
  padding: 2px;
  font-size: 1.5rem;
  z-index: 5;
  filter: none;
  color: var(--clr-40);
}
.mobi-pc-switch :last-child {
  height: fit-content;
  position: relative;
  display: flex;
  left: 28px;
}
.mobi-pc-switch .wrap p {
  position: relative;
  top: -3px;
}
